body{
	font-family: sans-serif;
	background: #d5f0f3;
}
 
h1{
	text-align: center;
	/*ketebalan font*/
	font-weight: 300;
}
 
.tulisan{
	text-align: center;
	/*membuat semua huruf menjadi kapital*/
	text-transform: uppercase;
}
 
.kotak{
	width: 700px;
	background: white;
	/*meletakkan form ke tengah*/
	margin: 80px auto;
	padding: 50px 20px;
}
 
label{
	font-size: 11pt;
}
 
.form{
	/*membuat lebar form penuh*/
	box-sizing : border-box;
	width: 100%;
	font-size: 11pt;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;

}
 
.tombol_submit{
	background: #46de4b;
	color: white;
	font-size: 11pt;
	width: 50%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}
.tombol_reset{
	background: #f70606;
	color: white;
	font-size: 11pt;
	width: 50%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
  
}

 
.link{
	color: #232323;
	text-decoration: none;
	font-size: 10pt;
}